<%
    const dataSettingsGuildName = data.settingsGuildName;
    const dataSettingsRequestUrl = data.settingsRequestUrl;
    const dataDesignBackgroundColor = data.designBackgroundColor;
    const dataDesignLinkColor = data.designLinkColor;
    const dataDesignTextColor = data.designTextColor;
    const dataImagesFaviconUrl = data.imagesFaviconUrl;
    const dataImagesLogoUrl = data.imagesLogoUrl;
    const dataInjectCodeHeaderAreas = data.injectCodeHeaderAreas;
    const dataInjectCodeFooterAreas = data.injectCodeFooterAreas;
    const dataInjectCodeSubmitSuccesses = data.injectCodeSubmitSuccesses;
    const dataInjectCodeSubmitFails = data.injectCodeSubmitFails;
    const dataRecaptchaSiteKey = data.recaptchaSiteKey;
%>
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Join <%= dataSettingsGuildName %> Discord</title>
        <% if (dataImagesFaviconUrl !== undefined) { %>
            <link rel="shortcut icon" type="image/png" href="<%= dataImagesFaviconUrl %>" />
        <% } %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <% if (dataInjectCodeHeaderAreas !== undefined) { %>
            <% dataInjectCodeHeaderAreas.forEach((dataInjectCodeHeaderArea) => { %>
                <%- dataInjectCodeHeaderArea %>
            <% }); %>
        <% } %>
        <script src="//www.google.com/recaptcha/api.js" async defer></script>
        <script type="text/javascript">
            /**
             * On submit.
             *
             * @param {string} sessionToken - Session token.
             *
             * @returns {void}
             *
             * @since 1.0.0
             */
            function onSubmit(sessionToken) {
                jQuery(($) => {
                    $.post(`<%= dataSettingsRequestUrl %>`, {
                        token: sessionToken,
                    }, (success) => {
                        <% if (dataInjectCodeSubmitSuccesses !== undefined) { %>
                        <% dataInjectCodeSubmitSuccesses.forEach((dataInjectCodeSubmitSuccess) => { %>
                            <%- dataInjectCodeSubmitSuccess %>
                        <% }); %>
                        <% } %>

                        window.location.replace(success);
                    }).fail((fail) => {
                        <% if (dataInjectCodeSubmitFails !== undefined) { %>
                        <% dataInjectCodeSubmitFails.forEach((dataInjectCodeSubmitFail) => { %>
                            <%- dataInjectCodeSubmitFail %>
                        <% }); %>
                        <% } %>

                        $("#error").html(`<span>${fail.responseText}</span>`);
                    });
                });
            }
        </script>
        <style>
            body {
                background-color: <%= (dataDesignBackgroundColor !== undefined) ? dataDesignBackgroundColor : 'inherit'; %>;
                color: <%= (dataDesignTextColor !== undefined) ? dataDesignTextColor : 'inherit'; %>;
                font-family: Helvetica, Arial, sans-serif;
                margin: 0;
                padding: 0;
            }

            a {
                color: <%= (dataDesignLinkColor !== undefined) ? dataDesignLinkColor : 'inherit'; %>;
            }

            #content {
                display: flex;
                height: 100vh;
                flex-direction: column;
                justify-content: center;
            }

            #content .container {
                margin: 5vh;
            }

            #content #logo {
                display: block;
                width: 150px;
                height: 150px;
                margin: 0 auto;
            }

            #content #form {
                margin-top: 25px;
            }

            #content #error span {
                display: block;
                background-color: #ffe0e0;
                color: #ba3939;
                margin-bottom: 15px;
                padding: 15px;
                border-radius: 5px;
                border: 1px solid #a33a3a;
            }

            #content .g-recaptcha div {
                margin: auto;
            }
        </style>
    </head>
    <body>
        <div id="content">
            <div class="container">
                <% if (dataImagesLogoUrl !== undefined) { %>
                    <img src="<%= dataImagesLogoUrl %>" alt="<%= dataSettingsGuildName %>" id="logo" />
                <% } %>
                <div id="form">
                    <noscript>
                        <p>JavaScript is required to view this page.</p>
                    </noscript>
                    <div id="error"></div>
                    <div class="g-recaptcha" data-sitekey="<%= dataRecaptchaSiteKey %>" data-callback="onSubmit"></div>
                </div>
            </div>
        </div>
        <% if (dataInjectCodeFooterAreas !== undefined) { %>
            <% dataInjectCodeFooterAreas.forEach((dataInjectCodeFooterArea) => { %>
                <%- dataInjectCodeFooterArea %>
            <% }); %>
        <% } %>
    </body>
</html>
